<html>
<head>
    <style> body {background-color: #beabed;}</style>
</head>
<body>
    <h1>Delete Book</h1></br>
    <h1>
        <a href="/">Insert Books</a>
        <a href="/getbooks">List Books</a>
        <a href="/updatebook">Update Books</a>
        <a href="/deletebook">Delete Books</a>
        <a href="/getsummary">Summary of Book</a>
    </h1>
    <form action="/deletebookdata" method="POST">
        Topic <input type="content-type"  name="btopic" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>