html>
<head>
    <img src= "https://www.google.com/url?sa=i&url=https%3A%2F%2Ficons-for-free.com%2Fdrug%2Bhealthcare%2Bmedical%2Bmedicine%2Bnotes%2Bstethoscope%2Bicon-1320185104796528154%2F&psig=AOvVaw2y3vqUv1swo4vsb7ADdCA6&ust=1630495636337000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKCQg92T2_ICFQAAAAAdAAAAABAP" 
    alt="Stethoscope Icon"
    width="100"
    height="50">
        <style> body {background-color: #cdc8d1;}</style>
        
</head>
<body>
    <h1> FIT2095 Clinic</h1> </br>
    <h1>
        <a href="/">Welcome to week 6 Lab</a>
        <a href="/newdoctor" class="btn btn-outline-info" type="button">Add Doctor</a>
        <a href="/listdoctors" class="btn btn-outline-info" type="button">List Doctors</a>
        <a href="/newpatient" class="btn btn-outline-info" type="button">Add Patient</a>
        <a href="/listpatients" class="btn btn-outline-info" type="button">List Patients</a>
        <a href="/updatedoctor" class="btn btn-outline-info" type="button">Update Doctor</a>
        <a href="/deletepatient" class="btn btn-outline-info" type="button">Delete Patient</a>
</body>
</html>