<html>
<head>
    <head>
        <style> body {background-color: #beabed;}</style>
    </head>
</head>
<body>
    <h1>List Books</h1> </br>
    <h1> <a href="/">Insert Books</a>
        <a href="/getbooks">List Books</a>
        <a href="/updatebook">Update Books</a>
        <a href="/deletebook">Delete Books</a>
        <a href="/getsummary">Summary of Book</a>
    </h1>
    <table>
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Topic</td>
            <td>Date of Publication</td>
            <td>Summary</td>
        </tr>
        <% for (let i=0;i<booksDb.length;i++){ %>
            <tr>
                <td><%= booksDb[i].title %> </td>
                <td> <%= booksDb[i].author %> </td>
                <td><%= booksDb[i].topic %></td>
                <td><%= booksDb[i].dop %></td>
                <td><%= booksDb[i].summary %></td>
            </tr>
            <%}%>
    </table>
</body>
</html>