<html>
        <head>
            <style> body {background-color: #beabed;}</style>
        </head>
<body>
    <h1>Update Books</h1></br>
    <h1>
        <a href="/">Insert Books</a>
        <a href="/getbooks">List Books</a>
        <a href="/updatebook">Update Book</a>
        <a href="/deletebook">Delete Book</a>
    </h1>
    <form action="/updatebookdata" method="POST">
        Book Old Title <input type="text"  name="btitleold" /> </br>
        Book New Title <input type="text"  name="btitlenew" /> </br>
        Book New Author <input type="text"  name="bauthornew" /> </br>
        Book New Topic <input type="content-type" name="btopicnew" /> </br>
        Book New Date of Publication <input type="date" name="bdopnew" /> </br>
        Book New Summary <input type="text" name="bsummarynew" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>